<app-navbar></app-navbar>
<div class="container" style="height: 100vh;display: flex; flex-direction: column; justify-content: space-between;">
    <div>
        <h3>Bienvenido a mi app SimplexCalculator</h3>
        <app-form></app-form>
    </div>
    <div>
        <p>Autor. Ing. Pedro Martinez.</p>
        <P>Profesora. Dra. Nely Plata Cesar.</P>
        <p>Para clase de Investigación de operaciones 2021A de la <a href="http://fingenieria.uaemex.mx/">Facultad de ingeniería de la UAEMex.</a></p>
        <a href="https://github.com/git-pedromartinez/SimplexCalculator">Tu puedes ver este proyecto en github. :)</a>
        <p>Este proyecto está eleborado en Angular 11.</p>
    </div>
</div>