<app-navbar></app-navbar>
<div class="container" style="height: 100vh;display: flex; flex-direction: column; justify-content: space-between;">
    <div>
        <h3>Welcome to my app SimplexCalculator</h3>
        <app-form></app-form>
    </div>
    <div>
        <p>By Pedro Martinez for class IO 2021A.</p>
        <P>Prof. Nely Plata Cesar.</P>
        <a href="https://github.com/git-pedromartinez/SimplexCalculator">You can view this project en github. :)</a>
        <p>Power. Angular 11.</p>

    </div>
</div>